<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Controls" version="3.8.0" targetFramework="net472" />
  <package id="Accord.IO" version="3.8.0" targetFramework="net472" />
  <package id="Accord.MachineLearning" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Statistics" version="3.8.0" targetFramework="net472" />
  <package id="Amayakase.OsuHelper" version="1.1.5" targetFramework="net472" />
  <package id="Fody" version="6.7.0" targetFramework="net472" developmentDependency="true" />
  <package id="Genbox.Wikipedia" version="4.0.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.21.12" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="Keras.NET" version="3.8.5" targetFramework="net472" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net472" />
  <package id="MethodBoundaryAspect.Fody" version="2.0.149" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Http" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="8.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="8.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="Numpy.Bare" version="3.8.1.25" targetFramework="net472" />
  <package id="OneOf" version="3.0.263" targetFramework="net472" />
  <package id="Protobuf.Text" version="0.7.2" targetFramework="net472" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net472" />
  <package id="Razorvine.Pickle" version="1.4.0" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net472" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net472" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net472" />
  <package id="SimWinMouse" version="1.0.2" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="8.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TensorFlow.NET" version="0.150.0" targetFramework="net472" />
  <package id="TheOpenAI.API" version="1.0.3" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>